.attractions img {
    width: 100%;
    height: 220px;
}

.attractions .col-md-4 {
    margin-bottom: 10px;
}


.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    border: 0;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
    zoom: 1;
    padding: 5px 10px;
}


#sliderContainer {
    display: none;
}

.weblink {
    color: grey;
    text-decoration: underline;
    font-style: italic;
    font-size: 0.9em;
}
